<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tak.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @tak.deadline %>
</p>

<p>
  <strong>Done:</strong>
  <%= @tak.done %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @tak.duration %>
</p>

<%= link_to 'Edit', edit_tak_path(@tak) %> |
<%= link_to 'Back', taks_path %>
